@(Html.IsraaApp().Page()
    .Title("Home 7")
    .Header(settings => {
        settings.Nav(DemoMenu.GetDemoMenu());
        settings.ShowTopbar(true);
        settings.BorderBottom(HeaderBorderBottom.Light);
    })
    .Footer(footer => {
        footer.ViewName("Footer");
    })
)

<section id="theme-banner-four" class="section m-gab-5">
    <img src="/Content/img/home/1.png" alt="" data-aos="fade-left" data-aos-duration="1000" class="screen-one">
    <img src="/Content/img/home/2.png" alt="" class="screen-two" data-aos="fade-up" data-aos-duration="1000">
    <img src="/Content/img/shape/shape-8.svg" alt="" class="shape-one">
    <img src="/Content/img/shape/shape-9.svg" alt="" class="shape-two">
    <img src="/Content/img/shape/shape-10.svg" alt="" class="shape-three">
    <img src="/Content/img/shape/shape-11.svg" alt="" class="shape-four">
    <div class="round-shape-one"></div>
    <div class="round-shape-two"></div>
    <div class="round-shape-three"></div>
    <div class="round-shape-four"></div>

    <div class="container">
        <div class="main-wrapper" data-aos="fade-right" data-aos-duration="800">
            <div class="alert rounded-pill bg-secondary d-inline-flex align-items-center fs-15">
                <div class="badge badge-pill badge-primary">New</div>
                <div class="mx-3">
                    Version 2.5.0 has just released.
                </div>
            </div>
            <h1 class="fs-65 mb-5">Smart & effective <br>solutions for <br>project.</h1>
            <p class="lead mb-4">With the nettex platform for customer experience, <br> service and support.</p>
            <a href="about-us-standard.html" class="btn btn-primary btn-wide transition-hover mr-4">
                More About us
            </a>
            <div class="d-inline-block">
                <div class="media align-items-center text-left">
                    <div class="mr-2">
                        <a class="btn btn-pill btn-sleek-primary" href="https://www.youtube.com/watch?v=bmixiVwtDso" data-provide="lightbox">
                            <i class="fa fa-play fs-13" style="margin-left: .15rem;"></i>
                        </a>
                    </div>
                    <div class="media-body">
                        <a class="mb-0" href="https://www.youtube.com/watch?v=bmixiVwtDso" data-provide="lightbox">Watch video</a>
                    </div>
                </div>
            </div>
        </div> <!-- /.main-wrapper -->
    </div> <!-- /.container -->
</section> <!-- /#theme-banner-four -->

<section class="our-service-app section">

    <div class="main-content container show-pr">
        <div class="row">
            <div class="col-lg-4 single-block">
                <div class="inner-wrapper text-center">
                    <div class="illustration-box mb-3">
                        <img src="/Content/img/shape/shape-33.svg" alt="" class="bg-shape">
                        <img src="/Content/img/shape/shape-34.svg" alt="" class="block-shape-one">
                        <img src="/Content/img/shape/shape-35.svg" alt="" class="block-shape-two">
                        <img src="/Content/img/shape/shape-36.svg" alt="" class="block-shape-three">
                    </div>
                    <h4 class="h5"><a href="#">Automate Workflow</a></h4>
                    <p>Lorem ipsum dolor sit amet, error insolens reprimique no quo, ea pri verterem phaedr vel ea iisque aliquam</p>
                </div> <!-- /.inner-wrapper -->
            </div> <!-- /.single-block -->

            <div class="col-lg-4 single-block">
                <div class="inner-wrapper text-center">
                    <div class="illustration-box mb-3">
                        <img src="/Content/img/shape/shape-37.svg" alt="" class="bg-shape">
                        <img src="/Content/img/shape/shape-38.svg" alt="" class="block-shape-one">
                        <img src="/Content/img/shape/shape-39.svg" alt="" class="block-shape-two">
                        <img src="/Content/img/shape/shape-40.svg" alt="" class="block-shape-three">
                        <img src="/Content/img/shape/shape-41.svg" alt="" class="block-shape-four">
                    </div>
                    <h4 class="h5"><a href="#">Analyize User Data</a></h4>
                    <p>Lorem ipsum dolor sit amet, error insolens reprimique no quo, ea pri verterem phaedr vel ea iisque aliquam</p>
                </div> <!-- /.inner-wrapper -->
            </div> <!-- /.single-block -->

            <div class="col-lg-4 single-block">
                <div class="inner-wrapper text-center">
                    <div class="illustration-box mb-3">
                        <img src="/Content/img/shape/shape-42.svg" alt="" class="bg-shape">
                        <img src="/Content/img/shape/shape-43.svg" alt="" class="block-shape-one">
                    </div>
                    <h4 class="h5"><a href="#">Unbreakable Security</a></h4>
                    <p>Lorem ipsum dolor sit amet, error insolens reprimique no quo, ea pri verterem phaedr vel ea iisque aliquam</p>
                </div> <!-- /.inner-wrapper -->
            </div> <!-- /.single-block -->
        </div> <!-- /.row -->

    </div> <!-- /.main-content -->
</section>

<section class="section">
    <div class="container">
        <div class="w-md-80 w-lg-80 text-center mx-md-auto mb-9">
            <p class="text-primary">WHAT WE DO</p>
            <h2>We Completed 1500+ Projects Yearly <br /> Succesfully & Counting</h2>
        </div>
        <div class="row justify-content-center pt-4">
            <div class="col-sm-4 col-lg-3 mb-7 mb-sm-0 border-right">
                <!-- Stats -->
                <div class="text-center">
                    <h2 class="display-4 text-primary" data-provide="countup" data-from="0" data-to="2000" data-suffix="+"></h2>
                    <p class="mb-0">Partners are <br /> in the IsraaApp network</p>
                </div>
                <!-- End Stats -->
            </div>

            <div class="col-sm-4 col-lg-3 mb-7 mb-sm-0 border-right">
                <!-- Stats -->
                <div class="text-center">
                    <h2 class="display-4 text-primary" data-provide="countup" data-from="0" data-to="541" data-prefix="$"></h2>
                    <p class="mb-0">Community earnings <br /> per year </p>
                </div>
                <!-- End Stats -->
            </div>

            <div class="col-sm-4 col-lg-3 mb-7 mb-sm-0">
                <!-- Stats -->
                <div class="text-center">
                    <h2 class="display-4 text-primary" data-provide="countup" data-decimals="1" data-from="0" data-to="1.9" data-suffix="M+"></h2>
                    <p class="mb-0">Developers <br />in our community</p>
                </div>
            </div>
        </div>
        <!-- End Stats -->
    </div>
</section>

<section class="section">
    <div class="container">

        <div class="row justify-content-center">
            <div class="col-md-11">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="svgbg-1">
                            <div class="gradient-border-1">
                                <img src="/Content/img/bx1.jpg" alt="">
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="pt-6" data-provide="slider" data-slides-to-show="1" data-slides-to-scroll="1" data-dots="true">
                            <div>
                                <div class="card bg-transparent border-0">
                                    <i class="fa fa-quote-left text-primary fs-40 mb-3"></i>
                                    <blockquote class="fs-28">
                                        This is the most robust template I've ever worked with. So much can be done with this
                                        multi-purpose package. Regular updates and enhancements value.
                                    </blockquote>
                                    <div class="d-flex align-items-center pt-3">
                                        <div class="avatar">
                                            <img class="img-fluid rounded-circle" src="/Content/img/avatar/avatar2.jpg" alt="Image Description">
                                        </div>
                                        <div class="ml-3">
                                            <h4 class="fs-18 mb-0">Peter Parker</h4>
                                            <small class="o-7">Systems Architect at Google</small>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div>
                                <div class="card bg-transparent border-0">
                                    <i class="fa fa-quote-left text-primary fs-40 mb-3"></i>
                                    <blockquote class="fs-28">
                                        The template is really nice and offers quite a
                                        large set of options. It's beautiful and the coding is done quickly and seamlessly. Thank you!
                                    </blockquote>
                                    <div class="d-flex align-items-center pt-3">
                                        <div class="avatar">
                                            <img class="img-fluid rounded-circle" src="/Content/img/avatar/avatar1.jpg" alt="Image Description">
                                        </div>
                                        <div class="ml-3">
                                            <h4 class="fs-18 mb-0">Jessica Jones</h4>
                                            <small class="o-7">Developer at Google</small>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="section">
    <div class="container mb-8">
        <div class="row align-items-center text-center text-lg-left">
            <div class="col-lg-9">
                <p class="text-primary">OUR WORKS</p>
                <h2>
                    Check Some Of Our <br />
                    Recent Works.
                </h2>
            </div>
            <div class="col-lg-3 text-right">
                <a href="#" class="btn btn-sleek-primary transition-hover mt-6">See All Works <span class="fa fa-angle-right ml-2"></span></a>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-12 p-0">

                <div class="cbp"
                     data-layout-mode="grid"
                     data-animation-type='slideLeft'
                     data-caption='zoom'
                     data-display-type='fadeIn'
                     data-display-type-speed="100"
                     data-gap-horizontal='0'
                     data-gap-vertical='30'
                     data-media-queries='[
                                {"width": 1500, "cols": 4},
                                {"width": 1100, "cols": 4},
                                {"width": 800, "cols": 3},
                                {"width": 480, "cols": 2},
                                {"width": 300, "cols": 1}
                              ]'>
                    <div class="cbp-item mockup">
                        <a href="#" target="_blank">
                            <div class="cbp-caption">
                                <div class="cbp-caption-defaultWrap">
                                    <img src="/Content/img/work/p1.jpg" data-cbp-src="/Content/img/work/p1.jpg" alt="">
                                </div>
                            </div>
                            <div class="cbp-l-grid-agency-title">Coffee Pack</div>
                            <div class="cbp-l-grid-agency-desc">Mockup</div>
                        </a>
                    </div>
                    <div class="cbp-item concept">
                        <a href="#" target="_blank">
                            <div class="cbp-caption">
                                <div class="cbp-caption-defaultWrap">
                                    <img src="/Content/img/work/p4.jpg" data-cbp-src="/Content/img/work/p4.jpg" alt="">
                                </div>
                            </div>
                            <div class="cbp-l-grid-agency-title">Tea Concept</div>
                            <div class="cbp-l-grid-agency-desc">Concept</div>
                        </a>
                    </div>
                    <div class="cbp-item design">
                        <a href="#" target="_blank">
                            <div class="cbp-caption">
                                <div class="cbp-caption-defaultWrap">
                                    <img src="/Content/img/work/p2.jpg" data-cbp-src="/Content/img/work/p2.jpg" alt="">
                                </div>
                            </div>
                            <div class="cbp-l-grid-agency-title">Bottle Design</div>
                            <div class="cbp-l-grid-agency-desc">Design</div>
                        </a>
                    </div>
                    <div class="cbp-item design">
                        <a href="#" target="_blank">
                            <div class="cbp-caption">
                                <div class="cbp-caption-defaultWrap">
                                    <img src="/Content/img/work/p3.jpg" data-cbp-src="/Content/img/work/p3.jpg" alt="">
                                </div>
                            </div>
                            <div class="cbp-l-grid-agency-title">Bright Side</div>
                            <div class="cbp-l-grid-agency-desc">Design</div>
                        </a>
                    </div>
                    <!--<div class="oval-divider--top oval-divider--5"></div>
                    <div class="oval-divider--bottom oval-divider--5"></div>-->
                </div>
            </div>
        </div>
    </div>
</section>

<section class="section">
    <div class="container">
        <div class="w-md-80 w-lg-80 text-center mx-md-auto mb-9">
            <p class="text-primary">PRICING PLAN</p>
            <h2> No hidden Charges. Check <br /> our package</h2>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="pricing pricing--pema">
                    <div class="pricing-item border-bottom border-top border-left">
                        <div class="pr-6 pl-6 pb-4 pt-5 bg-light-1 border-bottom">
                            <h3 class="pricing-title">Monthly Package</h3>
                            <div class="pricing-price text-success">
                                <span class="pricing-currency">$</span>
                                <span class="pricing-main" data-bind-radio="pricing" data-monthly="79" data-yearly="99">79</span>
                                <span class="pricing-period text-success">/ Month</span>
                            </div>
                        </div>
                        <div class="p-6">
                            <p class="pricing-sentence">For large companies</p>
                            <ul class="pricing-feature-list">
                                <li class="m-list--link">- Unlimited presentations</li>
                                <li class="m-list--link">- 5 hours of <span class="m-link-muted">free support</span> </li>
                                <li class="m-list--link">- Unlimited support</li>
                                <li class="m-list--link">- Unlimited <span class="m-link-muted">campaigns</span></li>
                            </ul>
                            <button class="btn btn-outline-success btn-block border-w-2">Request Package</button>
                        </div>
                    </div>
                    <div class="pricing-item pricing-item--featured border border-primary">
                        <div class="pr-6 pl-6 pb-4 pt-5 bg-light-1 border-bottom">
                            <h3 class="pricing-title">Weekly Package</h3>
                            <div class="pricing-price text-primary">
                                <span class="pricing-currency">$</span>
                                <span class="pricing-main" data-bind-radio="pricing" data-monthly="29" data-yearly="39">29</span>
                                <span class="pricing-period text-primary">/ Week</span>
                            </div>
                        </div>
                        <div class="p-6">
                            <p class="pricing-sentence">For medium sized teams</p>
                            <ul class="pricing-feature-list">
                                <li class="m-list--link">- 50 presentations/month</li>
                                <li class="m-list--link">
                                    - 5 hours of <span class="m-link-muted">free support</span>
                                    <i class="far fa-question-circle" data-toggle="tooltip" data-placement="top" title="To assist you in the ordering process, we've compiled a list of purchase and licensing related FAQs."></i>
                                </li>
                                <li class="m-list--link">
                                    - 10 campaigns/month <i class="far fa-question-circle" data-toggle="tooltip" data-placement="top" title="To assist you in the ordering process, we've compiled a list of purchase and licensing related FAQs."></i>
                                </li>
                                <li class="m-list--link">
                                    - Mirror website
                                    <span class="m-link-muted" data-toggle="tooltip" data-placement="top" title="To assist you in the ordering process, we've compiled a list of purchase and licensing related FAQs.">
                                        adjustmant
                                    </span>
                                </li>
                            </ul>
                            <button class="btn btn-outline-primary btn-block border-w-2">Request Package</button>
                        </div>
                    </div>
                    <div class="pricing-item border-bottom border-top border-right">
                        <div class="pr-6 pl-6 pb-4 pt-5 bg-light-1 border-bottom">
                            <h3 class="pricing-title">Monthly Package</h3>
                            <div class="pricing-price text-warning">
                                <span class="pricing-currency">$</span>
                                <span class="pricing-main" data-bind-radio="pricing" data-monthly="79" data-yearly="99">79</span>
                                <span class="pricing-period text-warning">/ Month</span>
                            </div>
                        </div>
                        <div class="p-6">
                            <p class="pricing-sentence">For large companies</p>
                            <ul class="pricing-feature-list">
                                <li class="m-list--link">- Unlimited presentations</li>
                                <li class="m-list--link">- 5 hours of <span class="m-link-muted">free support</span> </li>
                                <li class="m-list--link">- Unlimited support</li>
                                <li class="m-list--link">- Unlimited <span class="m-link-muted">campaigns</span></li>
                            </ul>
                            <button class="btn btn-outline-warning btn-block border-w-2">Request Package</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="section bg-light">
    <div class="container">
        <div class="w-md-80 w-lg-80 text-center mx-md-auto mb-9">
            <p class="text-primary">OUR BLOG</p>
            <h2> Our Company News</h2>
        </div>

        <div class="row justify-content-center">
            <div class="col-md-11">
                <div data-provide="slider" data-slides-to-show="3" data-slides-to-scroll="3" data-dots="true">
                    <div class="p-3">
                        <div class="card border-0 shadow-3 h-385">
                            <div class="card-body bg-white p-5">
                                <div class="fs-14 mb-3">Article <time class="text-light mb-3">May 25, 2018</time></div>
                                <h2 class="h5 mb-2">
                                    <a href="#" class="fs-20 anim-link-2 anim-link-2-primary" tabindex="0">The Great Divide</a>
                                </h2>
                                <p>Master is the innovation platform for business..</p>
                            </div>
                            <div class="card-footer bg-white border-top-0 pb-4 pr-5 pl-5">
                                <div class="media align-items-center">
                                    <div class="avatar-sm mr-3">
                                        <img class="img-fluid rounded-circle" src="/Content/img/avatar/avatar2.jpg" alt="Image Description">
                                    </div>
                                    <div class="media-body fs-14">
                                        <div class="text-light">
                                            Author
                                        </div>
                                        <div>
                                            <a href="../blog/single-article-classic.html" class="anim-link-2 anim-link-2-primary" tabindex="0">Peter Parker</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="custom-tags mt-4 mb-3">
                                    <a href="#" rel="tag" class="label label--sm label--secondary">Design</a>
                                    <a href="#" rel="tag" class="label label--sm label--secondary">Marketing</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="p-3">
                        <div class="card border-0 shadow-3 h-385">
                            <div class="card-body bg-white p-5">
                                <div class="fs-14 mb-3">Article <time class="text-light mb-3">May 25, 2018</time></div>
                                <h2 class="h5 mb-2">
                                    <a href="#" class="fs-20 anim-link-2 anim-link-2-primary" tabindex="0">New ES2018 Features Every JavaScript Developer Should Know</a>
                                </h2>
                                <p class="mb-0">Master is the for business..</p>
                            </div>
                            <div class="card-footer bg-white border-top-0 pb-4 pr-5 pl-5">
                                <div class="media align-items-center">
                                    <div class="avatar-sm mr-3">
                                        <img class="img-fluid rounded-circle" src="/Content/img/avatar/avatar1.jpg" alt="Image Description">
                                    </div>
                                    <div class="media-body fs-14">
                                        <div class="text-light">
                                            Author
                                        </div>
                                        <div>
                                            <a href="../blog/single-article-classic.html" class="anim-link-2 anim-link-2-primary" tabindex="0">Jessica Jones</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="custom-tags mt-4 mb-3">
                                    <a href="#" rel="tag" class="label label--sm label--secondary">Developer</a>
                                    <a href="#" rel="tag" class="label label--sm label--secondary">Marketing</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="p-3">
                        <div class="card border-0 shadow-3 h-385">
                            <div class="card-body bg-white p-5">
                                <div class="fs-14 mb-3">Article <time class="text-light mb-3">May 25, 2018</time></div>
                                <h2 class="h5 mb-2">
                                    <a href="#" class="fs-20 anim-link-2 anim-link-2-primary" tabindex="0">Internet advertising what went wrong.</a>
                                </h2>
                                <p>Master is the innovation platform for business..</p>
                            </div>
                            <div class="card-footer bg-white border-top-0 pb-4 pr-5 pl-5">
                                <div class="media align-items-center">
                                    <div class="avatar-sm mr-3">
                                        <img class="img-fluid rounded-circle" src="/Content/img/avatar/avatar3.jpg" alt="Image Description">
                                    </div>
                                    <div class="media-body fs-14">
                                        <div class="text-light">
                                            Author
                                        </div>
                                        <div>
                                            <a href="../blog/single-article-classic.html" class="anim-link-2 anim-link-2-primary" tabindex="0">Wade Wilson</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="custom-tags mt-4 mb-3">
                                    <a href="#" rel="tag" class="label label--sm label--secondary">Design</a>
                                    <a href="#" rel="tag" class="label label--sm label--secondary">Marketing</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="p-3">
                        <div class="card border-0 shadow-3 h-385">
                            <div class="card-body bg-white p-5">
                                <div class="fs-14 mb-3">Article <time class="text-light mb-3">May 25, 2018</time></div>
                                <h2 class="h5 mb-2">
                                    <a href="#" class="fs-20 anim-link-2 anim-link-2-primary" tabindex="0">Internet advertising what went wrong.</a>
                                </h2>
                                <p>Master is the innovation platform for business..</p>
                            </div>
                            <div class="card-footer bg-white border-top-0 pb-4 pr-5 pl-5">
                                <div class="media align-items-center">
                                    <div class="avatar-sm mr-3">
                                        <img class="img-fluid rounded-circle" src="/Content/img/avatar/avatar3.jpg" alt="Image Description">
                                    </div>
                                    <div class="media-body fs-14">
                                        <div class="text-light">
                                            Author
                                        </div>
                                        <div>
                                            <a href="../blog/single-article-classic.html" class="anim-link-2 anim-link-2-primary" tabindex="0">Wade Wilson</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="custom-tags mt-4 mb-3">
                                    <a href="#" rel="tag" class="label label--sm label--secondary">Design</a>
                                    <a href="#" rel="tag" class="label label--sm label--secondary">Marketing</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12 text-center mt-5">
                <p>Interested in more ? <a class="text-primary border-bottom anim-link" href="#">Keep Reading</a> </p>
            </div>
        </div>
    </div>
</section>
